.section{
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(min-content, 1fr));
    gap: 20px;
    margin: 20px;

    >button{
        justify-self: flex-end;
        grid-column:2/3;
    }
/*1496 might be right width*/
    @media (max-width: 768px){
        margin: 0;
        grid-template-columns: 1fr;
        >button{
            justify-self: flex-end;
            grid-column:auto/auto;
        }

    }
}

.sectioninput{
display: flex;
flex-direction: column;
font-size: .8rem;
}

.seperator{
    height: 2px;
    margin: 10px;
background-color: rgb(175, 175, 175);
}

/* .textinput{
    width: min-content;
} */

textarea{
    grid-column: 1/3;
    resize: none;
    @media (max-width: 768px){
        grid-column:auto/auto;
    }
}