
.displayInfo{
      border-bottom: 2px solid rgb(163, 163, 163);
      padding-bottom: 20px;
}

h3{
    font-size: 1rem;
    margin: 0;
}
.sectionTitle{
    margin-bottom: 10px;
}

.info{
    display: flex;
    flex-direction: column;
}

.info-section{
    display: flex;
    gap: 20px;
}

.title{
    display: inline;
    margin-left: 5px;
}

.date{
    align-self: self-start;
    width: 30ch;
    max-width: 30ch;
    overflow-wrap: break-word;
    @media (max-width: 768px) {
    
        max-width: 55px;
      }
    
}
.info-wrapper{
    border-left: 3px solid navy;
    padding: 5px;
    height: auto;
    margin-bottom: 2px;
}


.paragraph{
    margin: 0;
    width: 70ch;
    max-width: 70ch;
    overflow-wrap: break-word;
    hyphens: auto;
    font-size: 1rem;
    @media (max-width: 768px) {
        
        /* font-size: 0.8rem; */
        width: 30ch;
        max-width: 20ch;
      }
      /* border-left: 3px solid navy; */
}


li{
   
    list-style-type:'\2022';
    margin-left: -1px;
    margin-right: 10px;
}

