
.displayInfo{
      border-bottom: 2px solid rgb(163, 163, 163);
      padding-bottom: 20px;
      >h2{
        /* page-break-before: page; */
        font-weight: 100;
     }
     color: black;
}

h3{
    font-size: 1rem;
    margin: 0;
}
.sectionTitle{
    margin-bottom: 10px;
    font-weight: 400;
}

.info{
    display: flex;
    flex-direction: column;
}

.info-section{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    @media (max-width: 768px) {
        flex-wrap: nowrap;
      }
}

.title{
    display: inline;
    margin-left: 5px;
    color: var(--theme-primary);
}

.date{
    align-self: self-start;
    width: 30ch;
    max-width: 30ch;
    overflow-wrap: break-word;
    @media (max-width: 768px) {
        max-width: 55px;
      }
      @media print {
        width: 40ch;
        max-width: 40ch;
       }
    
}
.info-wrapper{
    border-left: 3px solid var(--theme-border);
    padding: 5px;
    height: auto;
    margin-bottom: 2px;
}


.paragraph{
    margin: 0;
    width: 70ch;
    max-width: 70ch;
    overflow-wrap: break-word;
    hyphens: auto;
    font-size: 1rem;


    @media (max-width: 768px) {
        
        /* font-size: 0.8rem; */
        width: 30ch;
        max-width: 20ch;
      }

      @media print {
        margin: 0;
        width: 70ch;
        max-width: 70ch;
        overflow-wrap: break-word;
       }
}


li{
   
    list-style-type:'\2022';
    margin-left: -1px;
    margin-right: 10px;
    color: var(--theme-primary);
}

