.personalDisplay {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(163, 163, 163);

    @media  (max-width: 768px){
        gap:20px;
        flex-direction:column;
    }
    @media print {
        flex-direction:row;
        gap:0;
       }
}

.fullName{
    margin: 0;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactField{
    display: flex;
    flex-direction: row;
    > p{
        margin: 0;
    }

    
}



.fieldTitle{
    width: 8ch;
    max-width: 30ch;
    color: var(--theme-primary);
  }
