.reference{
     padding-bottom: 5px;
     >h3{
        color: var(--theme-primary);
     }
}

.reference-relation{
        display: flex;
        gap: 10px;
        margin: 0;
        width: 70ch;
        max-width: 70ch;
        overflow-wrap: break-word;
        hyphens: auto;
        font-size: 1rem;
        @media (max-width: 768px) {
            width: 10ch;
            max-width: 10ch;
            
          }
          @media print {
            width: 70ch;
            max-width: 70ch;
           }

    >p{
        margin: 0;
    }
}

.reference-contact{
    >p{
        margin: 0;
        padding-bottom: 2px;
    }
}